@charset "utf-8";

/*-----------------------------------------------------------

	Reset Style

---------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
audio, canvas, video { display:inline-block; max-width:100%; }
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
ul, ol { list-style:none; }
blockquote , q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content: none; }
a:focus { outline:none; }
ins { text-decoration:none; }
mark { font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; width:100%; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
button, input, select, textarea { outline:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-size:100%; }
input, textarea { background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); -webkit-appearance: none; border-radius:0; /* Removing the inner shadow, rounded corners on iOS inputs */ }
input[type="checkbox"]{ -webkit-appearance: checkbox; }
input[type="radio"]{ -webkit-appearance: radio; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
img { -ms-interpolation-mode:bicubic; }

/*-----------------------------------------------------------

	Common
		
---------------------------------------------------------- */

body{
	font-size: 12px;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",arial,Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	color: #333;
}

/* decoration
------------------------------------------------ */

/* text */
a{color:#960A00;text-decoration:none;}
a:hover{color:#b21818;}
a:active, a:focus {outline: 0;}

.gosic{font-family :'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;}
.serif{font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho",  serif;}

/* float */
.f-left{float: left;}
.f-right{float: right;}

/* clearfix */
.clearfix {width:100%;}
.clearfix:after{content: ""; display: block; clear: both;}


/*-----------------------------------------------------------

	stracture
		
---------------------------------------------------------- */

#header{
	width: 980px;
	margin: 0 auto;
}

#gnav{
	
}

#contents{
	width: 980px;
	margin: 0 auto;
}

#main{
	float: left;
	width: 720px;
}

#side{
	float: right;
	width: 215px;
}

#footer{
	width: 100%;
	margin-top: 50px;
	background-position: center top;
	background-repeat: repeat-x;
}

/*-----------------------------------------------------------

	header
		
---------------------------------------------------------- */

/* description
-------------------------------------- */

#description{
	width: 980px;
	margin: 0 auto;
}

/* header-inner
-------------------------------------- */


/*-----------------------------------------------------------

	contents
		
---------------------------------------------------------- */


/* top
-------------------------------------- */




/* single.php
-------------------------------------- */



/* page.php
-------------------------------------- */





/* main
-------------------------------------- */



/*-----------------------------------------------------------

	side
		
---------------------------------------------------------- */



/*-----------------------------------------------------------

	footer
		
---------------------------------------------------------- */

#footer-inner{
	width: 950px;
	padding-top: 5px;
	margin: 0 auto;
	height: 30px;
	font-size: 12px;
}

#copyright{
	text-align: right;
}